:root {
	--header-height: 5rem;
	--footer-height: 5rem;
	--content-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
    --golden-color: #c29545;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

header {
    display: flex;
    border-bottom: 2px solid var(--golden-color);
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}

nav {
    display: flex;
    gap: 2rem;
}

nav > button {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--golden-color);
    font-weight: bold;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--content-height);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    border-top: 2px solid var(--golden-color);
    font-size: 1.5rem;
    color: var(--golden-color);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}